# IDE files
.idea/

# Coverage directory used by tools like istanbul
coverage/

# Compiled binary addons (https://nodejs.org/api/addons.html)
dist/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz
