body {
  background-color: $color-background;
  color: $color-text;
}

input {
  border: $input-border;
}

//@fn multiply [ top, right, bottom, left][ s, n, l ] => .margin-$0-$1 { margin-$0: $dimension-$1; }